    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    @media screen and (max-width: 1440px) {
        body {
            background-color: hsl(0, 100%, 74%);
            color: white;
            font-family: 'Poppins', sans-serif;
            background-image: url("images/bg-intro-desktop.png");
        }
        .fill {
            background-color: white;
            box-sizing: border-box;
            color: hsl(249, 10%, 26%);
            width: 350px;
            height: 300px;
            border-radius: 10px;
            text-align: center;
            justify-content: center;
            padding: 15px;
        }
        form {
            padding: 1px;
        }
        .learn {
            font-size: 40px;
            padding-top: 10px;
        }
        .see {
            font-size: 15px;
            padding-top: 40px;
        }
        .left {
            padding-left: 150px;
            width: 50%;
            padding-top: 20px;
        }
        .free {
            border-radius: 5px;
            color: white;
            background-color: hsl(248, 32%, 49%);
            text-align: center;
            font-size: 10px;
        }
        #Jon {
            padding-left: 15px;
            width: 250px;
            height: 25px;
            font-size: 10px;
        }
        #lName {
            padding-left: 15px;
            width: 250px;
            height: 25px;
            font-size: 10px;
        }
        #email {
            padding-left: 15px;
            width: 250px;
            height: 25px;
            font-size: 10px;
        }
        #psw {
            padding-left: 15px;
            width: 250px;
            height: 25px;
            font-size: 10px;
        }
        .Claim {
            background-color: hsl(154, 59%, 51%);
            color: white;
            width: 260px;
            height: 25px;
            border-radius: 5px;
            font-size: 10px;
        }
        .click {
            font-size: 7px;
        }
        .right {
            position: absolute;
            top: 130px;
            left: 680px;
            display: flex;
        }
        .learn {
            position: relative;
            top: 30px;
        }
        .free {
            position: absolute;
            width: 350px;
            height: 27px;
            top: -35px;
        }
        main {
            display: flex;
        }
        .button {
            font-size: small;
        }
        .click {
            position: relative;
            bottom: -260px;
            right: 290px;
            color: hsl(249, 10%, 26%);
        }
        input:required:invalid {
            outline: none;
            border: none;
            border: 1px solid hsl(0, 100%, 74%);
            background-image: url("images/icon-error.png");
            background-repeat: no-repeat;
            background-position: right;
            background-origin: content-box;
        }
        input:invalid+span {
            display: inline;
            color: hsl(0, 100%, 74%);
            float: right;
            font-size: 14px;
        }
        input:invalid {
            outline: none;
            border: none;
            border: 1px solid hsl(154, 59% 31%);
        }
        span {
            display: none;
        }
    }
    
    @media screen and (max-width:375px) {
        body {
            background-color: hsl(0, 100%, 74%);
            color: white;
            font-family: 'Poppins', sans-serif;
            background-image: url("images/bg-intro-mobile.png");
            max-width: 375px;
        }
    }